header{

    background-color: var(--header-color);
    font-family: 'Roboto';
    font-weight: 700;
    text-align: center;
    color: var(--assets-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:67px;
    z-index: 1;
}
header h1{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    width: 100%;
    height:100%;
}